

@{
    ViewBag.Title = "Contact";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Contact </h1>
            <ol class="breadcrumb">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="active">Contact</li>
            </ol>
        </div>
        <div class="col-lg-12">
            <!-- Embedded Google Map using an iframe - to select your location find it on Google maps and paste the link as the iframe src. If you want to use the Google Maps API instead then have at it! -->
            
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3806.830446319252!2d78.3338567801245!3d17.419922749684826!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb937e327daead%3A0x74c9424545ee048e!2sCognizant!5e0!3m2!1sen!2sin!4v1624468459244!5m2!1sen!2sin" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>


        </div>
    </div><!-- /.row -->
    <div class="row">
        <div class="col-sm-8">
            <h3>Contact to the Company with the help of the details given here</h3>
            <p>Ask your doubts and queries. Thank you :)</p>

           
        </div>
        <div class="col-sm-4">
            <h3>Online Shopping</h3>
            <h4></h4><br />
            <span>
                <i class="glyphicon glyphicon-map-marker"></i>
               Gachibowli, Cognizant Company, <br />
                Hyderabad.<br />

            </span>
            <span><i class="glyphicon glyphicon-earphone"></i> : 021 233 1080 </span><br />
            <span><i class="glyphicon glyphicon-envelope"></i> : <a href="https://www.kepler-rominfo.com/pages/home">OnlineShopping.com </a></span><br />
            <span><i class="glyphicon glyphicon-calendar"></i>  : Monday - Friday: 9:00 AM - 6:00 PM</span><br />
        </div>
    </div><!-- /.row -->
</div> 