@{
    ViewBag.Title = "Home Page";
}

<html>
<head>
    <meta charset="utf-8">
    <meta content="IE-edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, intial-scale=1.0" name="viewport">
    <title>Shopping Website</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <script crossorigin="anonymous" src="https://kit.fontawesome.com/c8e4d183c2.js"></script>

    <link rel="stylesheet" type="text/css" href="~/css/Index.css" />



</head>
<body>



    <!---Categories------------------------------------>
    <section class="Categories">


        <!--Category-1-------------------->
        <div class="container overflow-hidden">
            <div class="row gy-5">
                <div class="Cat-heading">
                    <strong>Shop By Category</strong>
                </div>
                <div class="col-md-12 col-lg-4 col-xs-12 col-sm-12">
                    <div class="menu">

                        <img src="~/Images/Index/mobiles.jpg">

                        <a href="/Products/Products?category=Mobiles">
                            <div class="btn">
                                <h5>Mobiles</h5>

                            </div>


                        </a>

                    </div>

                </div>

                <!--Category-2-------------------->
                <div class="col-md-12 col-lg-4 col-xs-12 col-sm-12">
                    <div class="menu">

                        <img src="~/Images/Index/electronics.jpg">
                        <a href="/Products/Products?category=Electronics">
                            <div class="btn">
                                <h4>Electronics</h4>

                            </div>
                        </a>
                    </div>
                </div>
                <!--Category-3-------------------->
                <div class="col-md-12 col-lg-4 col-xs-12 col-sm-12">
                    <div class="menu">

                        <img src="~/Images/Index/home.jpg">
                        <a href="/Products/Products?category=Appliances">
                            <div class="btn">
                                <h4>Appliances</h4>

                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4 col-xs-12 col-sm-12">
                    <div class="menu">

                        <img src="~/Images/Index/fashion.jpg">
                        <a href="/Products/Products?category=Fashion">
                            <div class="btn">
                                <h4>Fashion</h4>

                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4 col-xs-12 col-sm-12">
                    <div class="menu">

                        <img src="~/Images/Index/home furniture.jpg">
                        <a href="/Products/Products?category=Home">
                            <div class="btn">
                                <h4>Home</h4>

                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4 col-xs-12 col-sm-12">
                    <div class="menu">

                        <img src="~/Images/Index/beauty.jpg">
                        <a href="/Products/Products?category=beauty">
                            <div class="btn">
                                <h4>Beauty</h4>

                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>



</body>
</html>